{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>History</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'budget_controller_app/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'budget_controller_app/css/style.css' %}">
    
    <!-- FontAwesome (для иконок) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
      .right-panel {
            width: 200px;
            padding: 15px;
            background-color: #f8f9fa;
            border-left: 1px solid #dee2e6;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            resize: horizontal;
            overflow: auto;
        }
        .right-panel h4 {
            margin-top: 0;
        }
        .right-panel .category-list {
            list-style: none;
            padding: 0;
        }
        .right-panel .category-list a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
            border: 1px solid transparent;
            border-radius: 4px;
            margin-bottom: 5px;
        }
        .right-panel .category-list a:hover {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }
        .right-panel .resizer {
            width: 10px;
            cursor: ew-resize;
            position: absolute;
            top: 0;
            left: -5px;
            bottom: 0;
            background-color: #ccc;
        }  
  </style>
</head>
<body>
  <div class="content">
    <div class="container">
        <h2 class="mb-5">History</h2>
        <div class="mb-3">
            <a href='{% url "add_income" %}' class="btn btn-success" data-toggle="modal" data-target="#addIncomeModal">Добавить доход</a>
            <a href='{% url "add_expense" %}' class="btn btn-danger" data-toggle="modal" data-target="#addExpenseModal">Добавить расход</a>
            <button id="refreshHistoryBtn" class="btn btn-primary" title="Обновить историю">
                <i class="fas fa-sync"></i>
            </button>
        </div>
        <div id="refreshHistoryBtn" class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Type</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody id="historyContainer">
                    {% for transaction in history %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>
                            {% if transaction.type %}
                                Доход
                            {% else %}
                                Расход
                            {% endif %}
                        </td>
                        <td>{{ transaction.category.name }}</td>
                        <td>{{ transaction.description }}</td>
                    </tr>
                    {% empty %}
                        <tr><td colspan="5">Нет доступных транзакций.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>


    <div class="right-panel">
      <h4>Категории</h4>
      <ul class="category-list">
        <a href='{% url "filter_by_category" %}' data-type="1">Жилье</a>
        <a href='{% url "filter_by_category" %}' data-type="2">Транспорт</a>
        <a href='{% url "filter_by_category" %}' data-type="3">Медицина</a>
        <a href='{% url "filter_by_category" %}' data-type="4">Образование</a>
        <a href='{% url "filter_by_category" %}' data-type="5">Питание</a>
      </ul>
    </div>

  <!-- Add Expense Modal -->
  <div class="modal fade" id="addExpenseModal" tabindex="-1" role="dialog" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addExpenseModalLabel">Добавить расход</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addExpenseForm">
            <div class="form-group">
              <label for="expenseAmount">Сумма</label>
              <input type="number" class="form-control" id="expenseAmount" name="amount" required>
            </div>
            <div class="form-group">
              <label for="expenseCategory">Категория</label>
              <select class="form-control" id="expenseCategory" name="category">
                <option value="1">Жилье</option>
                <option value="2">Транспорт</option>
                <option value="3">Медицина</option>
                <option value="4">Образование</option>
                <option value="5">Питание</option>
                <option value="">Ничего из списка</option>
                <!-- Добавьте другие категории по мере необходимости -->
              </select>
            </div>
            <div class="form-group">
              <label for="expenseDescription">Описание</label>
              <textarea class="form-control" id="expenseDescription" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Income Modal -->
  <div class="modal fade" id="addIncomeModal" tabindex="-1" role="dialog" aria-labelledby="addIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addIncomeModalLabel">Добавить доход</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addIncomeForm">
            <div class="form-group">
              <label for="incomeAmount">Сумма</label>
              <input type="number" class="form-control" id="incomeAmount" name="amount" required>
            </div>
            <div class="form-group">
              <label for="incomeCategory">Категория</label>
              <select class="form-control" id="expenseCategory" name="category">
                <option value="1">Жилье</option>
                <option value="2">Транспорт</option>
                <option value="3">Медицина</option>
                <option value="4">Образование</option>
                <option value="5">Питание</option>
                <option value="">Ничего из списка</option>
              </select>
            </div>
            <div id="transactionsList">
              <!-- Здесь будут отображаться транзакции -->
            </div>
            <div class="form-group">
              <label for="incomeDescription">Описание</label>
              <textarea class="form-control" id="incomeDescription" name="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'budget_controller_app/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'budget_controller_app/js/popper.min.js' %}"></script>
  <script src="{% static 'budget_controller_app/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'budget_controller_app/js/main.js' %}"></script>

  <script>
    $(document).ready(function() {
        // Установка CSRF токена для всех AJAX запросов
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
        
        // Обработчик формы добавления дохода
        $('#addIncomeForm').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "add_income" %}',
                data: $(this).serialize(),
                success: function(response) {
                    $('#addIncomeModal').modal('hide');
                    alert('Доход добавлен успешно!');
                    // Обновляем историю после успешного добавления
                    $('.table-responsive').load('{% url "get_history" %} .table-responsive');
                },
                error: function(response) {
                    alert('Произошла ошибка при добавлении дохода.');
                }
            });
        });

        // Обработчик формы добавления расхода
        $('#addExpenseForm').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "add_expense" %}',
                data: $(this).serialize(),
                success: function(response) {
                    $('#addExpenseModal').modal('hide');
                    alert('Расход добавлен успешно!');
                    // Обновляем историю после успешного добавления
                    $('.table-responsive').load('{% url "get_history" %} .table-responsive');
                },
                error: function(response) {
                    alert('Произошла ошибка при добавлении расхода.');
                }
            });
        });

        // Обработчик кнопки обновления истории
        $('#refreshHistoryBtn').click(function() {
          $('.table-responsive').load('{% url "get_history" %} .table-responsive');
      });
    });

    
  </script>
</body>
</html>
