{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'budget_controller_app/css/login_style.css' %}" rel="stylesheet">
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="login.html">
        {% csrf_token %}
        <p>Phone Number: <br><input type="text" name="phone_number"></p>
        <p>Password: <br><input type="text" name="password"></p>
        <input type="submit" value="Send">
    </form>
</body>
</html>