{% load static %}
{% include 'header.html' %}

    <link rel="stylesheet" href="{% static 'css/sign_up_style.css' %}">
    <h2>Sign Up User</h2>
    <form method="post" action="sign_up">
        {% csrf_token %}
        <p>Name: <br><input type="text" name="name" /></p>
        <p>Phone Number: <br><input type="number" name="phone_number"></p>
        <p>Password: <br><input type="password" name="password"></p>
        <div class="form-actions">
            <input type="submit" value="Send">
            <p>Already have an account? <a href="{% url 'login' %}" class="login-link">Log in here</a></p>
        </div>
    </form>


{% include 'header.html' %}